$width-container: 900px;
$font-size: 14px;
$font-family: 'Poppins';
$text-color: #fff;
$text-second-color: #373F68;
$text-third-color: #647196;
$width-100: 100%;
$background-color: #F2F2F2;
$container-background: #373F68;
$button-color: #AD1FEA;
$white: #fff;
$planned-color: #F49F85;
$in-progress-color: #AD1FEA;
$live-color: #62BCFA;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-size-xxs: $font-size * .5;
$font-size-xs: $font-size * .8;
$font-size-s: $font-size * 1.5;
$font-size-m: $font-size * 2;
$font-size-l: $font-size * 3;
$font-size-xl: $font-size * 4;
$padding: $font-size;
$padding-xs: $font-size * .5;
$padding-s: $font-size * 1.5;
$padding-m: $font-size * 2;
$padding-l: $font-size * 3;
$padding-xl: $font-size * 4;
$margin: $font-size;
$margin-xs: $font-size * .7;
$margin-s: $font-size * 1.5;
$margin-m: $font-size * 2;
$margin-l: $font-size * 3;
$margin-xl: $font-size * 4;