@import url("reset.css");
html {
  font-size: 14px;
  font-family: "Poppins";
  color: #333;
}

#demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

#demo h2:first-child {
  width: 100%;
  background-color: orange;
  padding: 14px 0;
  font-weight: 500;
  text-align: center;
  color: white;
}

#demo .container {
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#demo .demo-container-item:not(.demo-container-item:last-child) {
  margin-right: 21px;
}

#demo .demo-container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 28px;
  -webkit-box-shadow: 1px 2px 10px #c2c1c1;
          box-shadow: 1px 2px 10px #c2c1c1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#demo .demo-container-item:hover i {
  border-color: white;
  color: white;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

#demo .demo-container-item:hover h2, #demo .demo-container-item:hover span {
  color: white;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

#demo .demo-container-item:hover a {
  background-color: white;
  color: orange;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

#demo .demo-container-item:hover .action {
  opacity: 1;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  top: 0;
}

#demo .demo-container-item i {
  width: 130px;
  height: 130px;
  font-size: 42px;
  color: orange;
  border-radius: 50%;
  border: 3px solid orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#demo .demo-container-item h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 28px;
}

#demo .demo-container-item span {
  color: #919191;
  text-align: center;
  line-height: 21px;
  font-weight: 400;
}

#demo .demo-container-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 50px;
  margin-top: 28px;
  text-decoration: none;
  background-color: orange;
  color: white;
}

#demo .demo-container-item .action {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: orange;
  top: 100%;
  z-index: -1;
  opacity: 0;
}

#demo .demo-title {
  margin: 56px 0;
  text-align: center;
}

#demo .demo-title h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 9.8px;
}
/*# sourceMappingURL=main.css.map */