@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('reset.css');
@import url('classes.css');
:root {
    --size: 16px;
    --font-family: 'Montserrat';
    --container: 1170px;
    --font-xs: calc(.5 * var(--size));
    --font-s: calc(.75 * var(--size));
    --font-sm: calc(.85 * var(--size));
    --font-m: calc(1.25 * var(--size));
    --font-l: calc(1.5 * var(--size));
    --font-xl: calc(2 * var(--size));
    --font-xxl: calc(3 * var(--size));
    --padding: calc(var(--size));
    --padding-xs: calc(.5 * var(--size));
    --padding-s: calc(.75 * var(--size));
    --padding-m: calc(1.25 * var(--size));
    --padding-l: calc(1.5 * var(--size));
    --padding-xl: calc(2 * var(--size));
    --padding-xxl: calc(3 * var(--size));
    --padding-xxxl: calc(6 * var(--size));
    --padding-oversize: calc(4 * var(--size));
    --margin-xs: calc(.5 * var(--size));
    --margin-s: calc(.75 * var(--size));
    --margin-m: calc(1.25 * var(--size));
    --margin-l: calc(1.5 * var(--size));
    --margin-xl: calc(2 * var(--size));
    --margin-xxl: calc(3 * var(--size));
    --line-xs: calc(.5 * var(--size));
    --line-s: calc(.75 * var(--size));
    --line-m: calc(1.25 * var(--size));
    --line-l: calc(1.5 * var(--size));
    --line-xl: calc(2 * var(--size));
    --line-xxl: calc(3 * var(--size));
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;
    --navbar-background: #3a28a7;
    --navbar-font-color: white;
    --navbar-height: calc(4 * var(--size));
    --btn-color: white;
    --btn-border-radius: calc(.25 * var(--size));
    --btn-border-color: white;
    --btn-border-height: 1px;
    --btn-border-style: solid;
    --btn-text-decoration: none;
    --btn-sign-color: #65c15d;
    --btn-sign-hover: #84e67c;
    --btn-register-hover: #65c15d;
    --btn-transition-speed: 100ms;
    --btn-transition-style: linear;
    --navbar-container-height: 100%;
    --main-bg: #5b6ec3;
    --sign-width: 460px;
    --sign-text-align: center;
    --sign-header-color: white;
    --sign-description-color: white;
    --sign-description-display: inline-block;
    --sign-container-bg: white;
    --sign-container-text-align: center;
    --sign-container-border-radius: calc(.25 * var(--size));
    --sign-container-sign-up-color: blue;
    --sign-container-text-decoration: none;
    --sign-container-hover-text-decoration: underline;
    --sign-item-text-align: left;
    --sign-item-input-width: 100%;
    --sign-item-input-height: 32px;
    --sign-item-input-border: none;
    --sign-item-input-border-bottom-height: 1px;
    --sign-item-input-border-bottom-style: solid;
    --sign-item-input-border-bottom-color: rgb(180, 180, 180);
    --sign-item-input-outline: none;
    --sign-item-span-display: block;
    --sign-item-span-color: rgb(53, 53, 53);
    --sign-item-span-required-color: red;
    --btn-sign-in-bg: #90a7d6;
    --btn-sign-in-bg-hover: #6b89c8;
    --quizzes-height: 180px;
    --quiz-search-bg: #e2e3e6;
    --quiz-block-bg: white;
    --quiz-block-border-radius: calc(1.25 * var(--size));
    --quiz-block-input-width: 97%;
    --quiz-block-input-border-radius: calc(1.25 * var(--size));
    --quiz-block-icon-width: 3%;
    --quiz-block-icon-color: blue;
    --dashboard-body-bg: #F6F6F6;
}